@font-face {
    font-family: Poppins-Regular;
    src: url('../font/Poppins-Regular.ttf');
}

@font-face {
    font-family: Poppins-Bold;
    src: url('../font/Poppins-Bold.ttf');
}

@font-face {
    font-family: Nunito-Regluar;
    src: url('../font/Nunito-Regular.ttf');
}